# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
*.idea/workspace.xml
*.idea/tasks.xml
*.idea/dictionaries
*.idea/shelf

# Maven and Gradle
target/
**/node_modules/
**/build/
!**/build/classes/
!**/build/resources/main/
**/out/
!**/out/production/
!**/out/test-classes/
**/pom.xml.versionsBackup
**/.mvn/
# Spring Boot specifics
**/logs/
**/bin/
